body {
    font-family: "DejaVu Serif", serif;
    color: rgb(255, 255, 255);
    font-size: clamp(40px, calc(25.455px + 4.545vw), 80px);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.header {
    text-align: center;
    margin-top: 50px;
    color: rgb(23, 218, 195);
    font-size: clamp(20px, calc(12.727px + 2.273vw), 40px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
}

.container-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.score, .best {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(113, 240, 225);
    border: clamp(5px, calc(3.182px + 0.568vw), 10px) solid rgb(21, 186, 167);
    border-radius: clamp(5px, calc(3.182px + 0.568vw), 10px);
    font-size: clamp(14px, calc(12.545px + 0.455vw), 18px);
    width: clamp(50px, calc(31.818px + 5.682vw), 100px);
    padding:  clamp(5px, calc(3.182px + 0.568vw), 10px);
}

.container-board {
    padding: clamp(5px, calc(3.182px + 0.568vw), 10px);
    background-color: rgb(21, 186, 167);
    margin: 0 auto;
    border-radius: clamp(5px, calc(3.182px + 0.568vw), 10px);
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 6vw);
    grid-template-rows: repeat(4, 6vw);
    place-content: center;
    gap: clamp(5px, calc(3.182px + 0.568vw), 10px);
    background-color: transparent;
    justify-content: center;
    align-content: center;
    z-index: 1;
    
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 240, 225);
    border-radius: clamp(5px, calc(3.182px + 0.568vw), 10px);
    font-size: 30px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgba(250, 236, 74, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal--active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: rgb(113, 240, 225);
    font-size: clamp(16px, calc(10.909px + 1.591vw), 30px);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
    transition-duration: 0.4s;
    outline: none;
}

.btn:hover {
    border: 2px solid rgb(21, 186, 167);
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.btn:active {
    border: 2px solid rgb(21, 186, 167);
    transform: scale(1);
    transition-duration: 0.4s;
}

.newGameModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(16, 140, 126, 0.667);
}

.newGameModal--active {
    display: block;
}

.container-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    position: absolute;
    top: 5%;
    left: 5%;
}

.modal-title {
    font-size: 40px;
}

.modal-text {
    margin: 0;
    font-size: clamp(30px, calc(11.818px + 5.682vw), 80px);
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.royalBlue {
    background-color: rgb(65,105,225);
}

.steelBlue {
    background-color: rgb(70,130,180);
}

.cadetBlue {
    background-color: rgb(95,158,160);
}

.mediumSlateBlue{
    background-color: rgb(123,104,238);
}

.cornflowerBlue {
    background-color: rgb(100,149,237);
}

.dodgerBlue {
    background-color: rgb(30,144,255);
}

.deepSkyBlue {
    background-color: rgb(0,191,255);
}

.lightSkyBlue {
    background-color: rgb(135,206,250);
}

.lightSteelBlue {
    background-color: rgb(176,196,222);
}

.aqua {
    background-color: rgb(0,255,255);
}

.aquamarine {
    background-color: rgb(127,255,212);
}

@media (max-width: 1760px) {
    .container-modal {
        align-items: center;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .board {
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(4, 8vw);  
}
}