.header {
    text-align: center;
    color: rgb(23, 218, 195);
    margin-bottom: 100px;
    font-size: 30px;
}

.container {
    max-width: 450px;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(21, 186, 167);
    margin: 0 auto;
    border-radius: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    place-content: center;
    gap: 10px;
    background-color: transparent;
    justify-content: center;
    align-content: center;
    
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 240, 225);
    border-radius: 10px;
    font-size: 20px;
}