body {
    font-family: "DejaVu Serif", serif;
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.header {
    text-align: center;
    margin-top: 50px;
    color: rgb(23, 218, 195);
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.container-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.score, .best {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(113, 240, 225);
    border: 10px solid rgb(21, 186, 167);
    border-radius: 10px;
    font-size: 18px;
    width: 100px;
    padding: 10px;
}

.container-board {
    max-width: 450px;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(21, 186, 167);
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    place-content: center;
    gap: 10px;
    background-color: transparent;
    justify-content: center;
    align-content: center;
    z-index: 0;
    
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 240, 225);
    border-radius: 10px;
    font-size: 30px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(250, 236, 74, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal--active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.newGameBtn {
    background-color: rgb(113, 240, 225);
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
    transition-duration: 0.4s;
    outline: none;
}

.newGameBtn:hover {
    border: 2px solid rgb(21, 186, 167);
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.newGameBtn:active {
    border: 2px solid rgb(21, 186, 167);
    transform: scale(1);
    transition-duration: 0.4s;
}